body{
    width: 100%;
    background-color: #fff8f8;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin-top: 3%;

}
.head{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-parent-div{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;


}

.top-left{
width: 35%;
/* border: 1px solid black; */
text-align: center;
color:#222222;
font-family: sans-serif;
font-size: small;
display: flex;
align-self: flex-start;
}

.top-right{
    position: relative;
width: 400px;
/* border: 1px solid black; */
display: flex;
justify-content: space-between;
margin-right: 80px;


}
.option{
    /* border: 1px solid red; */
    width: 35%;
    text-align: center;
    font-family: sans-serif;
    font-size: small;
    color:#222222 ;
    
   

}

.portfolio{
    text-decoration: none;
    color: #333333;
}

.resume{
    text-decoration: none;
    color: inherit;
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;

}
 
.first-parent-div{
/* border: 1px solid black; */
display: flex;
margin-top: 120px;

}

.top-left-div{
/* border: 1px solid green; */
flex: 1;
width: 100%;
  border-radius: 10px;
  background-image: url(pics/tanvi-first.jpeg);
  background-size:cover;
}

.top-left-div:hover{
  width: 100%;
  border-radius: 10px;
  background-image: url(pics/tanvi-second.jpeg);
  background-size:cover;
}



.top-right-div{
    /* border: 1px solid red; */
    flex: 1;
    font-family: sans-serif;
    padding: 3%;
    font-size:24px;
    line-height: 45px;
    color: #333333;
}

.middle-parent-div{
    /* border: 1px solid black; */
    display: flex;
    margin-top: 100px;

}

.middle-left-div{
    /* border: 1px solid red; */
    flex: 1;
    width: 100%;
    background-image: url(pics/me-first.jpeg);
    background-size: cover;
    border-radius: 10px;
}

.middle-left-div:hover{
background-image: url(pics/me-second.jpeg);
background-size: cover;
}

.middle-right-div{
    /* border: 1px solid red; */
    flex: 1;
    font-family: sans-serif;
    padding: 3%;
    font-size:24px;
    line-height: 45px;
    color: #333333;
}

.bottom-parent-div{
    /* border: 1px solid black; */
    display: flex;
    margin-top: 100px;

}

.bottom-left-div{
    /* border: 1px solid red; */
    flex:1 ;
    width: 100%;
    background-image: url(pics/tanvi-me-first.jpeg);
    background-size: cover;
    border-radius: 10px;
}

.bottom-left-div:hover{
background-image: url(pics/tanvi-me-second.jpeg);
background-size: cover;
}


.bottom-right-div{
    /* border: 1px solid red; */
    flex: 1;
    font-family: sans-serif;
    padding: 3%;
    font-size:24px;
    line-height: 45px;
    color: #333333;

}

h5{
    font-weight: 300;
}

.thanks-div{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    font-size: 45px;
    font-family: 'Playfair Display';
    font-weight: 400;
}


.bottom-div{
    border: 1px solid black;
    width: 100%;
    /* position: absolute; */
    right:0px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: black;
    }
    
    .bottom-pera-div{
    border: 1px solid black;
    width: 45%;
    margin-left: 120px;
    margin-top: 50px;  
    }
    
    .bottom-pera{
        font-size: 25px;
        color: white;
        font-weight: lighter;
    }
    
    .btn-div{
        /* border: 1px solid white; */
        width: 300px;
        margin-left: 120px;
        margin-bottom: 80px;
        display: flex;
        justify-content: space-between; 
    }
    
    .bottom-btn{
    border: 1px solid #949494;
    color: #949494;
    padding: 10px 18px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 13px;
    }
    
    .btn-div .bottom-btn:hover{
        color: white;
        border: 1px solid white;
    }
    
    .text-deco{
        text-decoration: none;
        color: inherit;
    }
    

    @media only screen and (min-width:200px) and (max-width:950px){
        .first-parent-div{
            /* width: 100%; */
            /* border: 1px solid black; */
            display: flex;
            flex-direction: column;
            /* justify-content: space-between; */
        
        
        }
    }

    @media only screen and (min-width:200px) and (max-width:950px){
        .top-left-div{
            /* border: 1px solid green; */
           /* flex: 1; */
           width: 100%;
           aspect-ratio: 1;
           border-radius: 10px;
           background-image: url(pics/tanvi-first.jpeg);
           background-size:cover;
           
           
        }
    }


    @media only screen and (min-width:200px) and (max-width:950px){
        .top-left-div:hover{
            width: 100%;
            border-radius: 10px;
            background-image: url(pics/tanvi-second.jpeg);
            background-size:cover;
            display: flex;
            flex-direction: column;
          }
    }


    @media only screen and (min-width:200px) and (max-width:950px){
        .top-right-div{
            /* border: 1px solid red; */
            flex: 1;
            font-family: sans-serif;
            padding: 3%;
            font-size:18px;
            line-height: 20px;
            color: #333333;
            
        }
    }


    @media only screen and (min-width:200px) and (max-width:950px){
        .middle-parent-div{
            /* width: 100%; */
            /* border: 1px solid black; */
            display: flex;
            flex-direction: column;
            /* justify-content: space-between; */
        
        }
    }
    @media only screen and (min-width:200px) and (max-width:950px){
        .middle-left-div{
            /* border: 1px solid red; */
            flex: 1;
            width: 100%;
            aspect-ratio: 1;
            background-image: url(pics/tanvi-me-first.jpeg);
            background-size: cover;
            border-radius: 10px;
        }
    }
    @media only screen and (min-width:200px) and (max-width:950px){
        .middle-left-div:hover{
            background-image: url(pics/tanvi-me-second.jpeg);
            background-size: cover;
            }
    }
    @media only screen and (min-width:200px) and (max-width:950px){
        .middle-right-div{
            /* border: 1px solid red; */
            flex: 1;
            font-family: sans-serif;
            padding: 3%;
            font-size:18px;
            line-height: 20px;
            color: #333333;
        }
    }
    @media only screen and (min-width:200px) and (max-width:950px){
        .bottom-parent-div{
            /* border: 1px solid black; */
            display: flex;
            margin-top: 100px;
            flex-direction: column;
        
        }
    }

    @media only screen and (min-width:200px) and (max-width:950px){
        .bottom-left-div{
            /* border: 1px solid red; */
            flex:1 ;
            aspect-ratio: 1;
            width: 100%;
            background-image: url(pics/tanvi-me-first.jpeg);
            background-size: cover;
            border-radius: 10px;
        }
    }

    @media only screen and (min-width:200px) and (max-width:950px){
        .bottom-left-div:hover{
            background-image: url(pics/tanvi-me-second.jpeg);
            background-size: cover;
            }
    }

    @media only screen and (min-width:200px) and (max-width:950px){
        .bottom-right-div{
            /* border: 1px solid red; */
            flex: 1;
            font-family: sans-serif;
            padding: 3%;
            font-size:18px;
            line-height: 20px;
            color: #333333;
        }
    }

    @media only screen and (min-width:200px) and (max-width:950px){
        .top-left{
            display: none;
        }
    }
    @media only screen and (min-width:200px) and (max-width:950px){
        .top-right{
            position: relative;
        width: 400px;
        /* border: 1px solid black; */
        display: flex;
        justify-content: space-between;
        margin-right: 80px;
        
        
        }  
    }


    @media only screen and (min-width:200px) and (max-width:950px){
    .option{
        /* border: 1px solid red; */
        width: 35%;
        text-align: center;
        font-family: sans-serif;
        font-size: 11px;
        color:#222222 ;
    }
    }


    @media only screen and (min-width:200px) and (max-width:950px){

    .resume{
        text-decoration: none;
        color: inherit;
        border: 1px solid black;
        padding: 8px;
        border-radius: 6px;
    }
    }

    @media only screen and (min-width:200px) and (max-width:400px){
        .top-right{
            position: relative;
        width: 400px;
        /* border: 1px solid black; */
        display: flex;
        justify-content: space-between;
        margin-right: 10px;
        margin-top: 20px;
        
        
        }  
    }
    
    
    @media only screen and (min-width:200px) and (max-width:400px){
        .option{
            /* border: 1px solid red; */
            width: 30%;
            text-align: center;
            font-family: sans-serif;
            font-size: 10px;
            color:#222222 ;
        }
        }
    



        @media only screen and (min-width:200px) and (max-width:400px){

            .resume{
                text-decoration: none;
                color: inherit;
                border: 1px solid black;
                padding: 3px;
                border-radius: 6px;
            }
            }


            @media only screen and (min-width:200px) and (max-width:400px){
                .btn-div{
                    /* border: 1px solid white; */
                    width: 300px;
                    margin-left: 10%;
                    margin-bottom: 80px;
                    display: flex;
                    justify-content: space-between; 
                }
    
            }
    
    
            @media only screen and (min-width:200px) and (max-width:400px){
                .bottom-btn{
                    border: 1px solid #949494;
                    color: #949494;
                    padding: 10px 18px;
                    border-radius: 5px;
                    font-family: sans-serif;
                    font-size: 13px;
                    }
            }


            @media only screen and (min-width:200px) and (max-width:400px){
            .thanks-div{
                display: flex;
                justify-content: center;
                margin-top: 200px;
                font-size: 20px;
                font-family: 'Playfair Display';
                font-weight: 400;
            }
        }